@font-face {
	font-family:"zw";
	src:url("file:///DK_System/system/font/fzbys_gbk.ttf")
}

@font-face {
	font-family:"fs";
	src:url(res:///DK_System/system/font/fs.ttf)
}

@font-face {
	font-family:"kt";
	src:url(res:///DK_System/system/font/kt.ttf)
}


@font-face {
	font-family:"ht";
	src:url(res:///DK_System/system/font/ht.ttf)
}

@font-face {
	font-family:"h1";
	src:url(res:///DK_System/system/font/fzltth.ttf)
}

@font-face {
	font-family:"h2";
	src:url(res:///DK_System/system/font/h2.ttf)
}

@font-face {
	font-family:"h3";
	src:url(res:///DK_System/system/font/h3.ttf)
}

body {
	padding: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 1%;
	margin-right: 1%;
	line-height:130%;
	text-align: justify;
	font-family:"zw";
	font-size:97%;
}
div {
	margin:0px;
	padding:0px;
	line-height:130%;
	text-align: justify;
	font-family:"zw";
}

p {
	text-align: justify;
	text-indent: 1em!important;
	line-height:130%;
	margin-top:0em;
	margin-bottom:0em
	/*margin-bottom:-0.9em;*/
}

a{
text-decoration:none;
}
.center {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}
.left {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}
.right {
	text-align: right;
	margin-left: 0%;
	margin-right: 0%;
}

/*封面*/
.cover {
	/*width:100%;*/
	height:100%;
	text-align:center;
	padding:0px;
}
/*扉页*/
.bookname {
	color:red;
	/*color:deeppink;*/
	margin-top:37%;
	/*margin-top:61.8%;*/
	margin-left:38.2%;
	line-height:100%;
	text-align: justify;
	border-style: none double solid solid;
	border-width: 0px 5px 1px 40px;
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;
	/*page-break-before:always;*/
	font-weight:bold;
	font-size:xx-large;
	font-family:"h1","zw";
}

.bookauthor {
	margin-left:38.2%;
	margin-top:2em;
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	border-color: blue yellow;
	font-family:"kt","zw";
	/*font-size:90%;*/
}
.booltranslator {
	margin-left:38.2%;
	/*margin-top:2em;*/
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	border-color: blue yellow;
	font-family:"kt","zw";
	/*font-size:90%;*/
}
.bookpub {
	margin-left:38.2%;
	/*margin-top:2em;*/
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	border-color: blue yellow;
	font-family:"ht","zw";
	font-size:90%;
}
.titlepage {
	margin-left:38.2%;
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	border-color: deeppink deeppink;
	font-family:"ht","zw";
	font-size:80%;
}
.titlepagemaker {
	margin-left:38.2%;
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	border-color: deeppink deeppink;
	font-family:"ht","zw";
	font-size:61.8%;
}
hr.titlepage {
	margin-left:38.2%;
	height: 50px;
	width:100%;
	border-style: none none dotted none;
	border-width: 0px 0px 1px 0px;
	border-color: blue yellow;
}

/*前言*/
.preface {
	font-family:"fs","zw";
}

/*目录页*/
.contents {
	margin-left:20%;
	padding:0px;
	line-height:130%;
	text-align: justify;
	font-family:"fs","zw";
}
/*目录页部篇标题*/
.part {
	margin-top:0.5em;
	margin-left:-1.5em;
	/*color:palevioletred;*/
	color: mediumvioletred;
	border-style: none double double solid;
	border-width: 0px 5px 2px 20px;
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;
	font-weight:bold;
	font-size:medium;
	font-family:"ht","zw";
	list-style-type:none;
}
/*目录页部章标题*/
.chapter {
	margin-top:0.5em;
	margin-left:-1em;
	/*color:palevioletred;*/
	color: deeppink;
	border-style: none double none solid;
	border-width: 0px 2px 0px 10px;
	border-color: deeppink;
	border-left-color: deeppink;
	font-weight:bold;
	font-size:medium;
	font-family:"zw";
	list-style-type:none;
}
/*目录页普通标题*/
li {
	/*list-style-type:none;*/
}

/*目录页文章作者*/
.contentauthor {
	padding-left: 20%;
	text-align: right;
	font-family:"kt","zw";
}
/*目录页标题换行*/
.cr {
	display:block;
}
/*版权页*/
.copyright {
	margin-top:50px;
	margin-left:20%;
	padding:0px;
	/*line-height:100%;*/
	text-align: justify;
	font-family:"ht","zw";
	font-size:9pt;
}
/*标题*/
h1 {
	color:red;
	/*color:deeppink;*/
	/*margin-top:37%;*/
	/*margin-top:61.8%;*/
	margin-left:38.2%;
	line-height:100%;
	text-align: justify;
	border-style: none double solid solid;
	border-width: 0px 5px 3px 20px;
	border-color: mediumvioletred;
	/*border-left-color: mediumvioletred;*/
	page-break-before:always;
	font-weight:bold;
	font-size:xx-large;
	font-family:"h1","zw";
}

h2 {
	color:pink;
	margin-top:0;
	line-height:100%;
	text-align: justify;
	border-style: none double none solid;
	border-width: 0px 5px 0px 20px;
	/*border-color: blue;*/
	/*border-left-color: blue;*/
	/*background-color: gray;*/
	border-color: mediumvioletred;
	border-left-color:mediumvioletred;
	background-color: palevioletred;
	padding: 100px 5px 5px 5px;
	page-break-before:always;
	font-weight:bold;
	font-size:x-large;
	font-family:"h2","zw";
}

/*副标题*/
.h2sub {
	/*color:orange;*/
	color:palevioletred;
	margin-top:-26;
	line-height:100%;
	text-align: justify;
	border-style: none double none solid;
	border-width: 0px 5px 0px 20px;
	/*border-color: blue;*/
	/*border-left-color: blue;*/
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;
	font-weight:bold;
	font-size:medium;
	font-family:"ht","zw";
}

h3 {
	/*color:fuchsia;*/
	/*color:mediumvioletred;*/
	color:indigo;
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:large;
	font-family:"h3","fs","zw";
	margin-top:50;
	/*margin-bottom:-0.9em;*/
}
h4 {
/*	color:gray;*/
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:medium;
	font-family:"ht","zw";
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*margin-bottom:-0.8em;*/
}
h5 {
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:small;
	font-family:"kt","zw";
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*margin-bottom:-0.9em;*/
}
h6 {
	line-height:130%;
	text-align: justify;
	font-weight:bold;
	font-size:x-small;
	margin-top:0.5em;
	margin-bottom:0.5em;
	/*margin-bottom:-0.9em;*/
}
/*作者*/
.author {
	/*color:palevioletred;*/
	color: mediumvioletred;
	/*margin-top:-26;*/
	line-height:100%;
	text-align: justify;
	border-style: none double none solid;
	border-width: 0px 5px 0px 20px;
	/*border-color: blue;*/
	/*border-left-color: blue;*/
	border-color: mediumvioletred;
	border-left-color: mediumvioletred;
	font-weight:bold;
	font-size:medium;
	font-family:"kt","zw";
}
/*标题2作者*/
.h2author {
	font-family:"kt","zw";
	color:white;
	font-size:10.5pt;
	display:block;
}
/*标题3作者*/
.h3author {
	font-family:"kt","zw";
	/*color:white;*/
	font-size:10.5pt;
	/*margin-bottom:1.5em;*/
	display:block;
}
/*篇标题块*/
.h1note {
	margin-top:5pt;
	margin-bottom:20pt;
	margin-left:38.2%;
	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: blue yellow;
	font-family:"ht","zw";
	font-size:90%;
}
/*编者按*/
.editornote {
	/*margin-top:50pt;
	margin-bottom:20pt;*/
	margin-left:4em;
	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: blue yellow;
	font-family:"kt","zw";
	font-size:90%;
	padding: 5px 5px 5px 5px;
	line-height:125%;
	margin-bottom:3pt;
	/*margin-bottom:-14pt;*/
}
/*标题2注*/
.h2note {
	/*margin-top:50pt;
	margin-bottom:20pt;*/
	margin-left:4em;
	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: blue yellow;
	font-family:"ht","zw";
	font-size:90%;
	padding: 5px 5px 5px 5px;
	line-height:125%;
	margin-top:0.25em;
	margin-bottom:0.25em;
	/*margin-bottom:-14pt;*/
}
/*标题3注*/
.h3note {
	/*margin-top:50pt;
	margin-bottom:20pt;*/
	margin-left:4em;
	border-style: none none none solid;
	border-width: 0px 0px 0px 10px;
	border-color: blue yellow;
	font-family:"fs","zw";
	font-size:90%;
	padding: 5px 5px 5px 5px;
	margin-top:0.25em;
	margin-bottom:0.25em;
	/*margin-bottom:-14pt;*/
}
/*插文*/
.box {
	margin-left: 1em;
	margin-right: 1em;
	/*border-style: none solid none solid;
	border-width: 0px 1px 0px 5px;
	border-color: #CCCC00;
	text-align: justify;*/
	font-family: "ht","zw";
	font-size:90%;
	color: darkblue;
}	
/*插文标题*/
.boxtitle {
	margin-left: 1em;
	margin-right: 1em;
	border-style: none none solid none;
	border-width: 0px 0px 2px 5px;
	border-color: #CCCC00;
	/*text-align: justify;*/
	font-family:"h1","zw";
}
/*引用*/
.quote {
	margin-left: 2em;
	margin-right: 1em;
	/*border-style: none solid none solid;
	border-width: 0px 1px 0px 5px;
	border-color: #CCCC00;
	text-align: justify;*/
	font-family:"kt","zw";
}
/*引用标题*/
.quotetitle {
	margin-left: 2em;
	margin-right: 1em;
	border-style: none none solid none;
	border-width: 0px 0px 2px 0px;
	border-color: #CCCC00;
	text-align: justify;
	font-family:"ht","zw";
}
.say1 {
	/*margin-left: 2em;
	margin-right: 1em;
	border-style: none solid none solid;
	border-width: 0px 1px 0px 5px;
	border-color: #CCCC00;
	text-align: justify;*/
	color:blue;
	font-family:"kt","zw";
}
.say2 {
	/*margin-left: 2em;
	margin-right: 1em;
	border-style: none solid none solid;
	border-width: 0px 1px 0px 5px;
	border-color: #CCCC00;
	text-align: justify;*/
	color:darkblue;
	font-family:"ht","zw";
}
/*强调*/
.heavy {
	font-family:"ht","zw";
	color:blue;
	/*font-weight:bold;*/
	/*font-size:10.5pt;*/
}
/*评论*/
.review {
	font-family: "kt","zw";
	color: darkblue;
}	
/*落款*/
.signature {
	padding-left:40%;
	font-family:"kt","zw";
	color:blue;
}
/*落款日期*/
.date {
	padding-left:40%;
	font-family:"kt","zw";
	color:blue;
}
/*原载报刊*/
.from {
	font-family: "kt","zw";
	color: darkblue;
}
/*文尾作者说明*/
.endauthornote {
	font-family: "kt","zw";
	color: darkblue;
/*文尾*/
}.end {
	font-family: "fs","zw";
	font-size:small;
	color:dimgray;
}
/*注释（脚注尾注）标题*/
.annotationtitle {
	margin-top:30pt;
	font-family:"ht","zw";
}
/*注释*/
.annotation {
	font-family:"fs","zw";
	font-size:90%;
}

/*图片*/
.image {
	width:100%;
	/*height:100%;*/
	text-align:center;
	padding:0px;
	font-family:"kt","zw";
	font-size:small;
	color:blue;
}
/*图片说明*/
.imagenote {
	/*margin-top:50pt;
	margin-bottom:20pt;*/
	margin-left:1em;
	margin-right:1em;
	border-style: none solid solid solid;
	border-width: 0px 5px 2px 10px;
	border-color: lightpink lightpink;
	text-align:justify;
	font-family:"kt","zw";
	font-size:small;
	padding: 5px 5px 5px 5px;
}
/*图片_作者*/
.image_author {
	float:right;
}
/*图片－左浮*/
.image_left {
	float:left;
}
/*图片－右浮*/
.image_right {
	float:right;
}
/*正文中的分隔线*/
.divline {
	text-align: center;
	color:gray;
}
.title {
  text-align: left;
}
.nostyle {
  list-style-type: none;
}
